/*!
 * Start Bootstrap - The Big Picture (https://startbootstrap.com/template-overviews/the-big-picture)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-the-big-picture/blob/master/LICENSE)
 */
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


body {
	background: url('../image/userx2.png') no-repeat top center fixed, linear-gradient(to bottom right, #1C3763, #BB3B56) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Noto Serif', 'Titillium Web', 'Open Sans';
}

img {
	width: 100%;
}

#my-form {
	padding-top: 20%;
}

#my-form h2 {
	color: white;
	margin-bottom: 20px;
	font-size: 3rem;
}

#my-form input {
	border-radius: 25px;
	padding: 25px 15px;
	background-color: transparent;
	color: white;
	font-size: 1.5rem;
}

#my-form input::placeholder {
	color: white;
}

#my-form button {
	border-radius: 25px;
	padding: 10px 15px;
	width: 100%;
	background-color: #1C3763;
	border: none;
	font-size: 2rem;
}

#my-form #smallDiv {
	float: right;
	margin-top: 10px;
}

#my-form small.form-text, #my-form small.form-text a {
	color: white !important;
	text-align: right;
	font-size: 1rem;
}

#my-form small.form-text a {
	text-decoration: underline;
}

.glyphicon-arrow-right {
	font-size: 10px;
	left: 5px;
	top: -1px;
}